# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/iteration1/CSE3063F21P1_GRP16/src/students
/dataSources.local.xml
